.divsd {
    background-color: black;
    text-align: center;
    background-size: cover;
    height: 100%;
    overflow: auto;
    color: rgb(245, 245, 245);
    margin-bottom: 0cm;
    padding-bottom: 5cm;
    background-attachment: fixed;
    box-shadow: 0 4px 8px 0 rgba(18, 19, 19, 0.769), 0 6px 20px 0 rgba(160, 160, 188, 0.696);
    position: relative;
    padding-block-start: 0.1cm;
    padding-block-end: 1cm;
    padding-left: 10cm;
    padding-top: 3cm;
    padding-right: 2cm;
    margin-top: 0.57cm;
}

div.divlogin {
    text-align: center;
    /* background-image: url("./login.png"); */
    background-size: cover;
    height: 40%;
    width: 50%;
    text-shadow: 3px 5px 5px #1ca1bc;
    color: rgba(255, 255, 255, 0.806);
    margin-bottom: 0;
    padding-bottom: 0cm;
    box-shadow: 10px 20px 30px 10px rgba(11, 117, 199, 0.769), 0 6px 20px 0 rgba(160, 160, 188, 0.696);
    border-color: rgb(153, 198, 237);
    box-align: center;
    padding-block-start: 0.1cm;
    padding-block-end: cm;
    right: 8cm;
    background-attachment: fixed;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    top: 5cm;
}

.button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

a.button3:hover {
    background-color: #4095c6;
}

@media all and (max-width:30em) {
    a.button3 {
        display: block;
        margin: 0.2em auto;
    }
}